<div class="container" id="main-content">
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-sm-offset-3">
			<h3>Nombre: <%= area.areaNombre.toUpperCase() %></h3>
			<div>
            	<img class="img-responsive" src="<%= area.areaImagenPath %>" alt="<%= area.areaNombre %>">
            </div>
		</div>
	</div>
</div>