<div class="container" id="main-content">
	<% if(flash && flash.err){ %>
	<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error){ %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
		<% }) %>
	</ul>
	<% } %>
	<div class="row">
		<div class="col-sm-3" role="complementary">
			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
			 <ul class="nav bs-docs-sidenav">
			  <li class="">
			   <a href="/usuario/index">Usuarios</a>
			    <!--<ul class="nav">
			     <li class=""><a href="#js-individual-compiled">Individual or compiled</a></li>
			     <li><a href="#js-data-attrs">Data attributes</a></li> 
			     <li class=""><a href="#js-programmatic-api">Programmatic API</a></li> 
			    </ul>-->
			   </li> 
			   <li><a href="/area/index">Áreas</a> 
			   <li><a href="/categoria/index">Categorías</a></li> 
			   <li><a href="/articulo/index">Publicaciones</a></li> 
			   <li><a href="/seccion/index">Secciones</a></li> 
			   <li><a href="/articulo/index">Artículos</a></li> 
			</ul> 
			<a class="back-to-top" href="#top"> Subir </a> 
			</nav>
		</div>
		<div class="col-sm-9" role="main">
			<div>
		        <canvas id="canvas"></canvas>
		    </div>
		    <br>
		    <br>
		    <button class="btn btn-light-blue" id="randomizeData">Randomize Data</button>
		    <button class="btn btn-light-blue" id="addDataset">Add Dataset</button>
		    <button class="btn btn-light-blue" id="removeDataset">Remove Dataset</button>
		    <button class="btn btn-light-blue" id="addData">Add Data</button>
		    <button class="btn btn-light-blue" id="removeData">Remove Data</button>
			<br>
		    <br>

			<div class="panel-item">
    			<a href="/usuario/listado"><img src="/images/ico-light-blue-user.png"></a>
    			<h4>Usuarios</h4>
	    	</div>
	    	<div class="panel-item">
				<a href="/usuario/index"><img src="/images/ico-light-blue-folder.png"></a>
    			<h4>Artículos</h4>
	    	</div>
	    	<div class="panel-item">
				<a href="/usuario/index"><img src="/images/ico-light-blue-file.png"></a>
    			<h4>Publicaciones</h4>
	    	</div>
	    	<div class="panel-item">
				<a href="/usuario/index"><img src="/images/ico-light-blue-message.png"></a>
    			<h4>Mensajes</h4>
	    	</div>
	    	<div class="panel-item">
				<a href="/usuario/index"><img src="/images/ico-light-blue-comment.png"></a>
    			<h4>Comentarios</h4>
	    	</div>
	    	<div class="panel-item">
				<a href="/usuario/index"><img src="/images/ico-light-blue-like.png"></a>
    			<h4>Likes</h4>
	    	</div><!--
	    	<div class="panel-item">
				<a href="/usuario/index"><img src="/images/ico-light-blue-pin.png"></a>
    			<h4>Pin</h4>
	    	</div>-->
		</div>
	</div>
</div>