<div class="container" id="main-content">
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-sm-offset-3">
			<h3>Nombre: <%= categoria.categoriaNombre.toUpperCase() %></h3>
			<h3>AreaId: <%= categoria.idArea %></h3>
			<div>
				<img class="img-responsive" src="<%= categoria.categoriaImagenPath %>" alt="<%= categoria.categoriaNombre %>">
			</div>
		</div>
	</div>
</div>