<div class="container" id="main-content">
	<% if(flash && flash.err){ %>
	<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error){ %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
		<% }) %>
	</ul>
	<% } %>
	<div class="row">
		<div class="col-sm-8 col-xs-12 col-sm-offset-2">
			<form class="form-horizontal formulario" action="/usuario/crear" method="POST">

				<div class="row">
					<div class="form-header">
			          <h3>Usuario</h3>
			        </div>
					<div class="form-body">
						<div class="control-group">
							<div class="input-container">
								<input type="input" name="txtUsuario" id="txtUsuario" required="required"/>
								<label for="txtUsuario">Usuario</label>
								<div class="bar"></div>
							</div>
						</div>
						<div class="control-group">
							<div class="input-container">
								<input type="password" name="txtUsuarioContrasena" id="txtUsuarioContrasena" required="required"/>
								<label for="txtUsuarioContrasena">Contraseña</label>
								<div class="bar"></div>
							</div>
						</div>
						<div class="control-group">
							<div class="input-container">
								<input type="input" name="txtUsuarioNombre" id="txtUsuarioNombre" required="required"/>
								<label for="txtUsuarioNombre">Nombre</label>
								<div class="bar"></div>
							</div>
						</div>
						<div class="control-group">
							<div class="input-container">
								<input type="input" name="txtUsuarioApellido" id="txtUsuarioApellido" required="required"/>
								<label for="txtUsuarioApellido">Apellido</label>
								<div class="bar"></div>
							</div>
						</div>	
						<div class="control-group">
							<div class="button-container">
								<button type="submit"><span>Salvar</span></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>