<div class="container" id="main-content">
	<div class="row">
		<div class="col-sm-6 col-xs-12 col-sm-offset-3">
			<h3>Nombre: <%= usuario.usuarioNombre.toUpperCase() %></h3>
			<h3>Apellido: <%= usuario.usuarioApellido.toUpperCase() %></h3>
			<h3>Usuario: <%= usuario.usuario %></h3>
		</div>
	</div>
</div>