<div class="container" id="main-content">
  <% if(flash && flash.err){ %>
  <ul class="alert alert-warning">
    <% Object.keys(flash.err).forEach(function(error){ %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
  </ul>
  <% } %>
  <div class="row">
    <div class="col-sm-8 col-xs-12 col-sm-offset-2">
      <form class="form-horizontal formulario" role="form" action="crear" method="POST">
        <div class="form-header">
          <h3>Sección</h3>
        </div>
        <div class="form-body">
          <div class="control-group">
            <div class="input-container col-sm-8 col-sm-offset-2">
              <input type="input" name="txtSeccionNombre" id="txtSeccionNombre" required="required"/>
              <label for="txtSeccionNombre">Nombre</label>
              <div class="bar"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="button-container">
              <button type="submit"><span>Guardar</span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>